<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Acme Corporate Portal</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css" rel="stylesheet">
    <link href="./css/site.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app id="portal" v-cloak>
            <v-toolbar app>
                <v-toolbar-title>Acme Corporate Portal
                    <p class="caption">An app to demo <a href="https://ofte.io">Ofte</a> capabilities [base app]</p>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat onclick="router.push('/').catch(err => {})">
                    Inspiration
                </v-btn>
                <v-btn flat onclick="router.push('/products').catch(err => {})">
                    Product Management
                </v-btn>
                <v-spacer></v-spacer>
                <v-img v-bind:src="icon" max-width="32" max-height="32" style="border-radius: 50%;"></v-img>
                <v-btn icon onclick="app.logout()">
                    <v-icon>logout</v-icon>
                </v-btn>
            </v-toolbar>
            <v-content>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-content>
            <v-footer class="pa-3">
                <v-spacer></v-spacer>
                <div>&copy; {{ new Date().getFullYear() }} <a href="https://ofte.io">Ofte</a></div>
            </v-footer>
        </v-app>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api:client.js"></script>

    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.js"></script>

    <script src='./lib/googleoauth.js'></script>

    <script src='./pages/home.vue.js'></script>
    <script src='./pages/products.vue.js'></script>
    <script src='./pages/login.vue.js'></script>
    <script src='./pages/error.vue.js'></script>

    <script src='/env.js'></script> <!-- see main.go:handleJSEnv() -->

    <script>

        Vue.use(VueRouter)
        Vue.use(Vuetify)

        const routes = [{
            path: '/',
            component: portalHome,
            meta: { auth: true }
        },
        {
            path: '/login',
            component: portalLogin
        },
        {
            path: '/error',
            name: 'error',
            component: portalError,
            props: true
        },
        {
            path: '/products',
            name: 'products',
            component: portalProducts,
            meta: { auth: true },
            props: true,
        }
        ]

        let router = new VueRouter({
            routes
        })
        router.beforeEach((to, from, next) => {
            let authRequired = to.matched.some((route) => route.meta.auth)
            let token = sessionStorage.getItem('id_token')
            if (authRequired && token === null) {
                next('/login')
            } else {
                next()
            }
        })
        var app = new Vue({
            el: '#app',
            router,
            data() {
                return {
                    icon: "",
                }
            },
            methods: {
                logout: function () {
                    sessionStorage.removeItem('id_token')
                    this.icon = ""
                    router.push('/login').catch(err => {})
                }
            },
            mounted() {
                _this = this
                document.addEventListener('login', function(event) {
                    app.icon = event.detail.icon
                })
            },
        })
    </script>
</body>

</html>